.container{
    max-width: 1300px;
    height: 100vh;
    margin: 20px auto;
}


.emptyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}

.emptyContainer img{
    width: 300px;
    height: 300px;
}
